*{
 -webkit-tap-highlight-color:transparent!important;
 tap-highlight-color:transparent!important;
 outline:0!important;
 box-sizing:border-box;}

body{
 background:#060606;
 color:#eee;
 padding:0px;
 margin:0px;
 font-family:"Source Code Pro", monospace;}

button,input,a{
 font-family:inherit;
 background:transparent;
 text-decoration:none;
 color:#060606;
 border:none;
 border-radius:2px;}
 
.myNav{
 display:flex;
 justify-content:space-between;
 padding:0px;
 margin:0px;
 height:55px;
 width:100%;
 background:rgba(9,9,9,0.5);
 backdrop-filter:blur(6px);
 border-bottom:1px solid #eee;
 border-radius:0px 0px 2px 2px;
 position:fixed;
 top:0px;
 left:0px;
 z-index:99;}
 
.myBrand{
 display:block;
 padding:0px;
 margin:16px 0px auto 12px;
 font-family:"Audiowide", sans-serif;
 font-size:18px;
 font-weight:450;
 color:#daa520;
 width:max-content;}

.boxMenu{
 display:flex;
 justify-content:flex-start;
 gap:8px;
 padding:0px;
 margin:auto 12px auto auto;}

.btnMenu{
 display:block;
 padding:0px;
 margin:0px;
 height:30px;
 width:30px;
 border-radius:2px;
 border:0.5px solid #444;}

.iconMenu{
 display:block;
 padding:0px;
 margin:0px;
 font-size: 19.5px !important;
 font-weight:300 !important;
 position:relative;
 top:4.5px;
 left:4.8px;
 color:#dfdfdf;}

/* CONTENT */
.myContainer{
 display:block;
 padding:0px;
 margin:70px auto 25px auto;
 width:90%;}

.titlePage{
 display:block;
 padding:0px 0px 4px 0px;
 margin:0px;
 font-size:13px;
 font-weight:650;
 border-bottom:1.5px solid #eee;
 text-align:left;}

.contentItem{margin:8px 0px;}

.myTitle{
 display:block;
 padding:0px;
 margin:0px 0px 2px 0px;
 font-size:12px;
 font-weight:600;}

.subTitle{
 display:block;
 padding:0px;
 margin:0px 0px 1px 0px;
 font-size:11.5px;
 font-weight:500;}

.myText{
 display:block;
 padding:0px;
 margin:1px 2px;
 font-size:11.4px;
 font-weight:400;
 color:#e5e5e5;
 line-height:15px;}

.spacer-ss{
 display:block;
 padding:0px;
 margin:5px 0px;}

.spacer-sm{
 display:block;
 padding:0px;
 margin:8px 0px;}

.counterList {
 counter-reset: item-counter;
 margin: 0;
 padding: 0;}

.counterItem {
 display: block;
 padding: 0px 0px 0px 12px;
 margin: 4px 0px 0px 0px;
 font-size: 12px;
 font-weight: 500;
 color: #dfdfdf;
 position: relative;
 counter-increment: item-counter;}

.counterItem::before {
 content: counter(item-counter) ".";
 position: absolute;
 left: 0;
 top: 0;
 font-size: 11.4px;
 font-weight: 400;
 color: #dfdfdf;}

.myList {
 margin: 2px 0px 0px 0px;
 padding: 0;
 line-height:15px;
 list-style: none;}

.myList .listItem {
 margin: 0;
 padding: 0 0 0 8px;
 font-size: 11.4px;
 font-weight: 400;
 color: #dfdfdf;
 position: relative;}

.myList:not(.numbered) .listItem::before {
 content: "•";
 position: absolute;
 left: 0px;
 font-size: 8px;
 font-weight: 300;
 color: #dfdfdf;}

.myList.numbered {
 counter-reset: listCounter;
 list-style: none;}

.myList.numbered .listItem {
 counter-increment: listCounter;
 padding-left: 15px;}

.myList.numbered .listItem::before {
 content: counter(listCounter) ".";
 position: absolute;
 left: 0px;
 top: 0;
 font-size: 11px;
 font-weight: 400;
 color: #dfdfdf;}

.xFormula{
 font-size:11.7px;
 font-weight:500;
 color:#daa520;
 text-shadow:0px 0px 0.8px darkgoldenrod;
 display:block;
 padding:2px 0px;
 margin:0px;
 text-align:center;
 width:100%;
 height:max-content;
 box-sizing:border-box;
 white-space:nowrap;
 box-sizing:border-box;
 overflow-y: hidden;
 overflow-x:auto;
 min-height:max-content;}
 
.myLink{
 color:goldenrod;
 font-style:italic;}
